.main__section--cart{
    position: fixed;
    top:-9vh;
    right: 0;
    z-index: 3;
    width: 400px;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:var(--background-first-section);
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 35px;
    transform: translateX(500px);/*translamos la seccion del carrito de compras a la derecha*/
    transition: transform 0.5s;
}


.main__section--cartActive{
    transform: translateX(0);/*translamos la seccion del carrito de compras a la izquierda*/

}


/* Estamos editando la cruz del carrito de compras*/
.main__section--cart> i{
    margin: 10px 0;
    align-self: flex-end;
    padding: 0;
    font-size:  2rem;
    transition: transform 0.5s
}

/*cuando pase el mouse por el carrito de compras aumentamos un poco el tamanÌƒo*/
.main__section--cart>i:hover{
    cursor:pointer;
    transform: scale(1.3);
}


.section__h2{
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    padding:10px 0;
    margin: 5px 0;
}

.section__ul--cart{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin: 10px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.section__li--cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: var(--background-card);
}

.section__img--cart{
    width: 30%;
    margin: 0;
}

.section__div--cart{
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.section__h3--cart,
.section__h4--cart,
.section__p--cart{
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    padding: 0;
    margin: 0 20px;
}


.section__p--cart{
    font-size: 0.9rem;
}


.section__div--buttonCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    padding: 0;
}

.section__div--modified{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.section__div--modified{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.increment,
.decrement,
.remove{
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: var(--background-first-section);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.33s;
}

.increment:hover,
.decrement:hover,
.remove:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.increment:active,
.decrement:active,
.remove:active{
    cursor: pointer;
    transform: scale(0.8);
}

.quantity{
    font-weight: var(--font-weight-bold);
}

.section__div--total{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0;
}

.section__h2--total,
.section__p--total{
    font-weight: var(--font-weight-medium);
    font-size: 1.1rem;
}

.section__p--total{
    font-weight: var(--font-weight-bold);

}

@media (max-width:750px){
    .main__section--cart{
        width: 100%;
    }
}

@media(max-width:550px){
    .section__li--cart{
        flex-direction: column;
    }
    .section__img--cart{
        width: 75%;
    }
    .section__div--cart{
        width: 100%;
    }
    .decrement,
    .increment,
    .remove{
        width: 40px;
        height: 40px;
        font-size: 1.3rem;
    }
}